.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
    font-weight: bold;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.slider-container {
    position: relative;
    top: 5px;
    width: 90%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    background-image: radial-gradient(circle farthest-corner at 22.4% 21.7%, rgba(4, 189, 228, 1) 0%, rgba(2, 83, 185, 1) 100.2%);
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.pet-item {
    background-image: linear-gradient(109.6deg, rgba(156, 252, 248, 1) 11.2%, rgba(110, 123, 251, 1) 91.1%);    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
    flex: 0 0 33.3333%;
    transition: transform 0.3s, box-shadow 0.3s;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    margin: 10px;
}

.pet-item.show {
    opacity: 1;
    transform: translateY(0);
}

.pet-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.pet-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.pet-image:hover {
    transform: scale(1.05);
}

.pet-type {
    display: block;
    font-size: 1.5rem;
    color: white;
    margin: 10px 0;
}

.pet-content {
    font-size: 1em;
    color: white;
    margin-top: 10px;
}

.slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
    height: 10%;
    transition: background-color 0.3s;
}

.slider-arrow:hover {
    background-color: rgba(112, 112, 112, 0.8);
}

.slider-arrow.left {
    left: 10px;
}

.slider-arrow.right {
    right: 10px;
}

@media (max-width: 768px) {
    .pet-item {
        flex: 0 0 100%;
        width: 100%;
    }
}